# uncomment to avoid uploading intended configurations in the repository
# inventory/intended
270-Park-Media/inventory/intended/structured_configs/
270-Park-Media/inventory/documentation/devices
270-Park-Control/inventory/intended/structured_configs/
270-Park-Media/inventory/intended/configs/
#270-Park-Control/inventory/intended/configs/
# inventory/documentation/devices

# uncomment in production environment if password file is used.
.vault_passwd

# macOS metadata
.DS_Store

# IDEs
.idea
.vscode

# python stuff
.venv
__pycache__
.ansible
*.egg-info
.local
.cache
